.navbar {
    background-color: transparent !important;
}
.navbar-brand {
    font-family: 'Cursive', sans-serif;
    color: black !important;
    font-size: 1.5rem;
}
.nav-link {
    color: black !important;
    font-size: 1.2rem;
}
.nav-link:hover {
    color: green !important;
}
/* Container for carousel with shadow overlay */
.carousel-container {
    position: relative;
    width: 100%;
    height: 93vh; /* Adjust as per your design */
    overflow: hidden;
    background-color: rgba(0, 0, 0, 1); /* Semi-transparent black background */
}
.carousel-item {
    position: relative;
    height: 100%; /* Ensure carousel items fill the container */
}
.carousel-item img {
    position: relative;
    top: 0;
    left: 0;
    width: auto;
    height: 93vh;
    object-fit: cover;
    opacity: 0.3;
}

.carousel-item-content h2 {
    position: absolute;
    top: 45%;
    left: 15vw;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 1;
}

.carousel-item-content h6 {
    position: absolute;
    bottom: 45%;
    left: 15vw;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 1;
}

.carousel-item .btn {
    position: absolute;
    top: 50%;
    right: 15vw;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 1;
}

.carousel-item h1 {
    position: absolute;
    top: 15%;
    right: 50%;
    left: 50%;
    width: 100vw;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 1;
}

/* New section beneath the carousel */
.section-beneath-carousel {
    text-align: center;
    max-width: 100vw;
    height: 40vh;
    margin-top: 50px; /* Adjust spacing as needed */
}

.section-beneath-carousel h1 {
    position: relative;
    top: 50%;
    transform: translate(0%, 75%);
    color: black;
    font-size: 2.5rem;
}

.section-beneath-carousel h2 {
    color: black;
    top: 50%;
    transform: translate(0%, 75%);
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.section-beneath-carousel p {
    position: relative;
    color: black;
    top: 5vh;
    transform: translate(0%, 75%);
    font-size: 1rem;
    max-width: 600px;
    margin: 0 auto 20px auto;
}

.section-beneath-carousel img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.divider {
    position: relative;
    width: 60px;
    height: 3px;
    top: 10vh;
    transform: translate(0%, 75%);
    background-color: green;
    margin: 0 auto 20px auto;
}

.section-beneath-carousel-img{
    position: relative;
    top: 10vh;
}

.most_ordered{ 
    position: relative;
    display: grid;
    height: 100vh;
    max-width: 100vw;
    text-align: center;
    padding-top: 10vh;
}

.mo_text{
    position: relative;
    display: grid;
    height: 20vh;
    width: 100vw;
    text-align: center;
}

.mo_top{
    position: relative;
    display: flex;
    height: 40vh;
    max-width: 100vw;
}

.mo_bottom{
    position: relative;
    display: flex;
    height: 40vh;
    max-width: 100vw;
}

/* New styles for the additional div */
.new-div-top {
    position: relative;
    display: grid;
    left: 15vw;
    width: 60vw;
    height: 40vh;
    margin-top: 10vh;
    text-align: left;
    padding-top: 5vh;
}

.icl_img{
    position: relative;
    margin-top: 10vh;
    min-width:20vw;
    min-height: 40vh;
    right: -5vw;
}

.new-div-bot {
    position: relative;
    display: grid;
    left: 35vw;
    width: 30vw;
    height: 40vh;
    margin-top: 15vh;
    text-align: left;
    padding-top: 5vh;
}

.icr_img{
    position: relative;
    margin-top: 15vh;
    min-width:20vw;
    min-height: 40vh;
    left: 15vw;
}

.footer{
    position: relative;
    margin-top: 30vh;
    height: 8vh;
    max-width: 100vw;
    background-color: black;
    display: flex;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.address{
    color: white;
    margin: 2vh, 5vw;
}

.contact{
    color: white;
    margin: 2vh, 5vw;
}