{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/cds.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <title>Menu | Quick Taste</title>
</head>
<body>
    <div id="landing_header">
        <a href='#'><h2 id="landing_header_left">
            Quick Taste
        </h2></a>
        <div id="landing_header_right">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/menu/burgers">Menu</a>
            <a href="/reservations">Reservations</a>
            <a href="/contact">Contact</a>
            <button id="hidden_menu_button"><img id="hidden_menu" src="https://static.thenounproject.com/png/356889-200.png" /></button>
        </div>
    </div>
    <div id="menu_bar">
        <a class="menu-item" href="/menu/burgers">Burgers</a>
        <a class="menu-item" href="/menu/pizzas">Pizzas</a>
        <a class="menu-item" href="/menu/pastas">Pastas</a>
        <a class="menu-item" href="/menu/fries">Fries</a>
        <a class="menu-item" href="/menu/drinks">Drinks</a>
    </div>
    <div id="item_list">
        <div id="details_container">
            <h3>Coca Cola - $2.99</h3>
            <p>Classic cola beverage.</p>
        </div>
        <div id="button_container">
            <button id="Coca_Cola">Order Now</button>
        </div>
    </div>
    <div id="item_list">
        <div id="details_container">
            <h3>Diet Coke - $2.99</h3>
            <p>Sugar-free cola.</p>
        </div>
        <div id="button_container">
            <button id="Diet_Coke">Order Now</button>
        </div>
    </div>
    <div id="item_list">
        <div id="details_container">
            <h3>Sprite - $2.99</h3>
            <p>Lemon-lime soda.</p>
        </div>
        <div id="button_container">
            <button id="Sprite">Order Now</button>
        </div>
    </div>
    <div id="item_list">
        <div id="details_container">
            <h3>Fanta Orange - $2.99</h3>
            <p>Orange-flavored soda.</p>
        </div>
        <div id="button_container">
            <button id="Fanta_Orange">Order Now</button>
        </div>
    </div>
    <div id="item_list">
        <div id="details_container">
            <h3>Dr Pepper - $2.99</h3>
            <p>Unique blend of 23 flavors.</p>
        </div>
        <div id="button_container">
            <button id="Dr_Pepper">Order Now</button>
        </div>
    </div>
    <div id="item_list">
        <div id="details_container">
            <h3>Mountain Dew - $2.99</h3>
            <p>Citrus-flavored soda.</p>
        </div>
        <div id="button_container">
            <button id="Mountain_Dew">Order Now</button>
        </div>
    </div>
    <div id="footer">
        <h2>Contact: 000-000-0000</h2>
        <h2>Address: Shop 23-24, Ground Floor, Rose 1 Plaza, I-8 Markaz I 8 Markaz I-8, Islamabad, Islamabad Capital Territory 44790</h2>
    </div>
    <div id="hidden_menu_container">
        <button id="hidden_menu_button_2"><img id="hidden_menu" src="https://cdn-icons-png.flaticon.com/512/93/93634.png" /></button>
        <div>
            {% if name == '' %}
            <a href="/login">Log In</a>
            <a href="/signup">Sign Up</a>
            {% else %}
            <p>{{name}}</p>
            <a>Reservations</a>
            <a>Your Orders</a>
            {% endif %}
        </div>
    </div>
    {% if data %}
    <div id="cart">
        <div id="cart_header">
            <img src="https://static-00.iconduck.com/assets.00/cart-outline-icon-512x458-a0r4hbx8.png" />
            <h4>Your Cart</h4>
        </div>
        <div id="cart_container_s">    
            {% for burger, i in data.items %}
                <p>{{burger}} x{{ i.1 }} - {{ i.0 }}$</p>
            {% endfor %}
        </div>
        <a href="/checkout" id="checkout_btn"><button>Checkout</button></a>
    </div>
    {% endif %}
    <script src="{% static 'js/cds.js' %}"></script>
</body>
</html>