{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/landing.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <title>Quick Taste</title>
</head>
<body>
    <div id="landing_header">
        <a href='#'><h2 id="landing_header_left">
            Quick Taste
        </h2></a>
        <div id="landing_header_right">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/menu/burgers">Menu</a>
            <a href="/reservations">Reservations</a>
            <a href="/contact">Contact</a>
            <button id="hidden_menu_button"><img id="hidden_menu" src="https://static.thenounproject.com/png/356889-200.png" /></button>
        </div>
    </div>
    <div class="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://images.pexels.com/photos/1639562/pexels-photo-1639562.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Image 1">
                <h1 class="ci_h1">Quick Taste Deals</h1>
                <h2 class="dealno">Deal 1: The Classic Burger Bonanza</h2>
                <p>1 Classic Cheeseburger, 1 Large Fries, and 1 Soft Drink at the Price of $9.99</p>
                <button class="order-button">Order Now!</button>
            </div>
            <div class="carousel-item">
                <img src="https://images.pexels.com/photos/708587/pexels-photo-708587.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Image 2">
                <h1 class="ci_h1">Quick Taste Deals</h1>
                <h2 class="dealno">Deal 2: Family Pizza Fiesta</h2>
                <p>1 Large Pepperoni Pizza, 1 Large Fries, and a Soda at the Price of $19.99</p>
                <button class="order-button">Order Now!</button>
            </div>
            <div class="carousel-item">
                <img src="https://images.pexels.com/photos/1487511/pexels-photo-1487511.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Image 3">
                <h1 class="ci_h1">Quick Taste Deals</h1>
                <h2 class="dealno">Deal 3: Italian Pasta Extravaganza</h2>
                <p>1 Spaghetti Marinara, 1 Large Fries, and 1 Soft Drink at the Price of $12.99</p>
                <button class="order-button">Order Now!</button>
            </div>
        </div>
        <button class="carousel-control prev" onclick="prevSlide()">&#10094;</button>
        <button class="carousel-control next" onclick="nextSlide()">&#10095;</button>
    </div>
    <div id="welcome_message">
        <h1>Welcome to Quick Taste!</h1>
        <h3>Get the best taste in the fastest time.</h3>
        <div id="divider"></div>
        <p id="welcome_text">Dive into a world of delicious, freshly made meals that cater to your cravings. Whether you're grabbing a quick bite on the go or settling in for a family feast, we promise fast, friendly service and flavors that will keep you coming back for more. Join us and experience the perfect blend of speed, quality, and taste that makes every visit special!</p>
    </div>
    <img decoding="async" width="576" height="36" src="https://ld-wp73.template-help.com/wordpress/prod_19755/v3/wp-content/uploads/2018/06/figure-1.png" class="img_divider section-beneath-carousel-img attachment-large size-large wp-image-25" alt="" srcset="https://ld-wp73.template-help.com/wordpress/prod_19755/v3/wp-content/uploads/2018/06/figure-1.png 576w, https://ld-wp73.template-help.com/wordpress/prod_19755/v3/wp-content/uploads/2018/06/figure-1-300x19.png 300w, https://ld-wp73.template-help.com/wordpress/prod_19755/v3/wp-content/uploads/2018/06/figure-1-570x36.png 570w" sizes="(max-width: 576px) 100vw, 576px">
    <div id="most_ordered_items">
        <h1>Most Ordered Items from Quick Taste</h1>
        <div id="mo_top">
            <div id="mo_top_left">
                <h2>Zinger Fever</h2>
                <ul>
                    <li>Classic Cheeseburger</li>
                    <li>Double Cheeseburger</li>
                    <li>Mushroom Swiss Burger</li>
                    <li>Avocado Bacon Burger</li>
                </ul>
            </div>
            <img id="mo_top_img" src="https://images.unsplash.com/photo-1521305916504-4a1121188589?q=80&w=2080&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
        </div>
        <div id="mo_bot">
            <img id="mo_top_img" src="https://images.unsplash.com/photo-1513104890138-7c749659a591?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
            <div id="mo_bot_right">
                <h2>Pizza Nights</h2>
                <ul>
                    <li>Buffalo Chicken Pizza</li>
                    <li>Supreme Pizza</li>
                    <li>Spinach and Feta Pizza</li>
                    <li>Meat Lover's Pizza</li>
                </ul>
            </div>
        </div>
    </div>
    <div id="footer">
        <h2>Contact: 000-000-0000</h2>
        <h2>Address: Shop 23-24, Ground Floor, Rose 1 Plaza, I-8 Markaz I 8 Markaz I-8, Islamabad, Islamabad Capital Territory 44790</h2>
    </div>
    <div id="hidden_menu_container">
        <button id="hidden_menu_button_2"><img id="hidden_menu" src="https://cdn-icons-png.flaticon.com/512/93/93634.png" /></button>
        <div>
            {% if not request.session.user %}
            <a href="/login">Log In</a>
            <a href="/signup">Sign Up</a>
            {% else %}
            <p>{{name}}</p>
            <a href="/bookings">Reservations</a>
            {% if request.session.type == "c" %}
            <a href="/orders">Your Orders</a>
            {% else %}
            <a href="/orders">Orders</a>
            <a href="/inventory">Inventory</a>
            {% endif %}
            <a href="/logout">Logout</a>
            {% endif %}
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const buttons = document.querySelectorAll('.order-button');

            buttons.forEach(button => {
                button.addEventListener('click', () => {
                    const dealdiv = button.parentElement;
                    const dealh2 = dealdiv.querySelector(".dealno")
                    let deal = dealh2.textContent

                    deal = deal.replace(/\s+/g, '')

                    dealNumber = deal[4]

                    console.log(dealNumber)
                    fetch('/checkout', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': '{{ csrf_token }}'// Assuming Django CSRF token handling
                        },
                        body: JSON.stringify({ deal: dealNumber }),
                        sender: "deals"
                    })
                    .then(response => {
                        if (response.ok) {
                            console.log("Successful");
                            window.location.href = "/checkout"  // Remove order from DOM
                        } else {
                            console.error('Failed to complete order');
                        }
                    })
                    .catch((error) => {
                        console.error('Error:', error);
                    });
                });
            });
        });
    </script>
    <script src="{% static 'js/landing.js' %}"></script>
</body>
</html>
